p {
  font-size: 14px;

}
h3 {
    margin-top: 20px;
    font-size: 18px;
}
h1 {
    font-size: 24px;
}

p, h1, h3 {
  font-family: 'Quicksand';
  text-shadow: 1.5px  1.5px 1.5px #1a0f00;
  line-height: 1.6em;
}

.input {
  padding: 1em;
}

.mealInfo {
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  color: #006600;
  text-shadow: 1.5px  1.5px 1.5px #1a0f00;
  line-height: 1.6em;
  .lineInfo{
    display: none; 
  }
  &:hover {
    background-color: #ff9900;
    // background-color: complement(#006600);
    .lineInfo {
      display: inline-block;
    }
  }
 }

.selectLimit {
  option {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: #006600;
  }
}
